<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->
    
<main class="ontainer">
<div class="jumbotron">
        <img src="img/me.jpeg" alt="logo" style: width="300px" ; height="350px" class="me">  
        <h3><%= title %> me</h3>
        My name is Bruna Fernanda Proenca Silva and you can see my <a href="file:///C:/Users/Bruna/Downloads/Bruna-Silva_Resume.html" target="_blank">Resume</a> here. <br>
        I'm 27 years old and I came from Brazil to study software engineering technician here in Canada. My professional journey is anything but ordinary and had many twists and turns before my arrival here. <br> My journey thus far has been a departure from the conventional path. <br>Before embarking on my pursuit of a career in technology, I worked as a Lawyer in Brazil and completed my post-graduate degree in 2021 on Labor Law.</p>
        <p>During this time, I acquired essential skills in analysis, problem-solving, and effective communication which continues to benefit me in my quest for a career in software development. My transition into the tech industry was motivated by my passion for solving complex problems and my desire to be part of a rapidly evolving field. Currently, I am developing skills in programming languages such as JavaScript, C#, Python and Java, as well as web development and databases. Furthermore, my fluency in English and Portuguese enables me to work effectively in international teams and understand the cultural nuances that can be crucial in global projects.</p>
        <p>I'm always look forward to learning and to contribut to exciting projects, and growing as a talented developer. I believe my passion for technology and my commitment to continuous learning, makes me improve my skils more and more as time pass by.Please feel free to contact me at (647) 904-2166 or by email at silvabruna.pro@gmail.com. I am looking forward to discussing how I can contribute to Centennial College's mission and vision. <br>Thank you for your time and I look forward to hearing from you soon.  
        </p>
    </div>
</main>
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   