<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->
<main class="ontainer">
<div class="jumbotron">
    <h3 class="display-4"><%= title %> me:</h3>
    <form action="processar_formulario.php" method="POST" id="formaboutme">
        <label for="primeiro_nome">First name:</label>
        <input type="text" id="primeiro_nome" name="primeiro_nome" required><br>

        <label for="ultimo_nome">Last name:</label>
        <input type="text" id="ultimo_nome" name="ultimo_nome" required><br>

        <label for="telefone">Phone:</label>
        <input type="tel" id="telefone" name="telefone" required><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>

        <label for="mensagem">Message:</label>
        <textarea id="mensagem" name="mensagem" rows="4" required></textarea><br>

        <input type="submit" value="submit">
    </form>
    <p></p>
    <p id="contac"> You can also call me or check my socials media</p>
    <table>
      <tr>
          <th>Social</th>
          <th>Data</th>
      </tr>
      <tr>
          <td>Phone Number:</td>
          <td>(647) 904-2166</td>
      </tr>
      <tr>
          <td>GitHub:</td>
          <td><a href="https://github.com/BrunaPro" target="_blank">BrunaPro</a></td>
      </tr>
      <tr>
          <td>LinkedIn:</td>
          <td><a href="https://www.linkedin.com/in/bruna-silva-pro/" target="_blank">bruna-silva-pro</a></td>
      </tr>
  </table>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   