<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->
<main class="ontainer">
<div class="jumbotron">
    <h1 class="display-4">You can <%= title %> me by:</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Email</td>
            <td>silvabruna.pro@gmail.com // brunafernanda.10@hotmail.com</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Phone</td>
            <td>(641)904-2166</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>GitHub</td>
            <td>github.com/BrunaPro</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Linkedln</td>
            <td>linkedin.com/in/bruna-silva-pro/</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Fax</td>
            <td>123-3455-6776</td>
          </tr>
        </tbody>
      </table>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   