<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">
    <h2>Some of my <%= title %>: </h2>
    <p></p>
    <img src="img/calculadora.avif" alt="logo" style: width="200px" ; height="200px"><p></p>
    <p>I worked on a project in the second semester of college creating a calculator in C#. In the development of my project, in addition to implementing the typical normal mathematics functions, I also implemented dark mode, as well as a counter so that the user can use it during the day and so that they are aware of how many people have already seen the content.</p>
    <p></p>
    <img src="img/database.png" alt="logo" style: width="200px" ; height="150px"><p></p>
    <p>Another project I worked on was the creation of a company in which my team and I developed the Database part. The company's main function was delivery. We not only created the documentation but also developed it with some data in Oracle SQL.</p>
    <p></p>
    <img src="img/jogo.png" alt="logo" style: width="200px" ; height="150px" class="me"> <P></P>
    <p>I also develop a small tic-tac-toe game in C# in which the user interacts with the computer. The user has three options to choose from (rock, paper or scissors) and the computer will randomly generate one of the same options.
    </p>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   