<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="services">
    <h3> My <%= title %></h3>
    <ul>
        <img src="img/services.jpg" alt="services" style: width="550px" ; height="400px" class="main-logo">
        <p></p>
        <li><span class="arrow"></span> Website Development: Create static or dynamic websites using technologies such as HTML, CSS and JavaScript</li>
        <p></p>
        <li><span class="arrow"></span> Desktop Application Development: Build desktop applications using Java and C#.</li>
        <p></p>
        <li><span class="arrow"></span> Database: Work with SQL databases.</li>
        <p></p>
        <li><span class="arrow"></span> Agile Development: Master agile methodologies such as Scrum or Kanban to manage software projects effectively.</li>
        <p></p>
        <li><span class="arrow"></span>Portfolio Development: Help other professionals create online portfolios to showcase their work.</li>
    </ul>
    </div>
</main>
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   